<%= form_with(model: property) do |form| %>
  <% if property.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(property.errors.count, "error") %> impidieron que esta propiedad se guardara:</h2>

      <ul>
        <% property.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :property_type %>
    <%= form.select :property_type, options_for_select(['Departamento', 'Casa']), class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :operation_type %>
    <%= form.select :operation_type, options_for_select(['Arriendo', 'Compra', 'Venta']), class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :square_meters %>
    <%= form.text_field :square_meters, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :address %>
    <%= form.text_field :address, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :contact %>
    <%= form.text_field :contact, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :image_url %>
    <%= form.text_field :image_url, class: "form-control" %>
  </div>

  <div class="text-center">
    <%= form.submit "Guardar", class: "btn btn-primary" %>
  </div>
<% end %>
