<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= t(property.property_type) %></h5>
    <p class="card-text"><strong> Tipo de Operación: </strong> <%= t(property.operation_type) %></p>
    <p class="card-text"><strong>Metros cuadrados:</strong> <%= property.square_meters %></p>
    <p class="card-text"><strong>Dirección:</strong> <%= property.address %></p>
    <p class="card-text"><strong>Contacto:</strong> <%= property.contact %></p>
    <%# <p class="card-text">
      <strong>Image url:</strong> <%= property.image_url %>
    <%# </p> %>
  </div>
</div>
