<div id="<%= dom_id property %>">
  <p>
    <strong>Property type:</strong>
    <%= property.property_type %>
  </p>

  <p>
    <strong>Operation type:</strong>
    <%= property.operation_type %>
  </p>

  <p>
    <strong>Square meters:</strong>
    <%= property.square_meters %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= property.address %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= property.contact %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= property.image_url %>
  </p>

</div>
