<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= property.property_type %></h5>
    <p class="card-text"><strong>Operation type:</strong> <%= property.operation_type %></p>
    <p class="card-text"><strong>Square meters:</strong> <%= property.square_meters %></p>
    <p class="card-text"><strong>Address:</strong> <%= property.address %></p>
    <p class="card-text"><strong>Contact:</strong> <%= property.contact %></p>
    <%# <p class="card-text">
      <strong>Image url:</strong> <%= property.image_url %>
    <%# </p> %>
  </div>
</div>
